{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bem-vindo à MinhaAgenda!</h1>
        <p class="col-md-8 fs-4">Sua plataforma simples para gerenciar contatos e enviar mensagens.</p>
        {% if current_user.is_authenticated %}
             <a href="{{ url_for('contact_bp.list_contacts') }}" class="btn btn-primary btn-lg" type="button">Ver Meus Contatos <i class="bi bi-arrow-right-circle"></i></a>
        {% else %}
             <a href="{{ url_for('auth_bp.login') }}" class="btn btn-primary btn-lg me-2" type="button">Login</a>
             <a href="{{ url_for('auth_bp.register') }}" class="btn btn-secondary btn-lg" type="button">Cadastro</a>
        {% endif %}
      </div>
    </div>

     {% if current_user.is_authenticated %}
     {# Pode adicionar mais informações ou links aqui se quiser #}
     {% endif %}

{% endblock %}